@media (min-width: 1401px) {

    /* Styling for the Landing Page on Large Devices*/
    .box {
        /*border: 1px solid lightseagreen;
        /*background: lightsteelblue;*/
    }

    html {
        scroll-behavior: smooth;
    }

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 2650px 50px;
        grid-template-areas:
        "header"
        "content"
        "footer";
        justify-content: center;
        align-content: center;
        background-image: linear-gradient(to bottom right,#e8a87c, rgb(83, 165, 165));
    }

    #header {
        grid-area: header;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas:
        "logo nav";
        position: fixed;
        top: 0;
        width: 100%;
        height: 40px;
        margin: 5px 0 5px 0;
        padding: 5px 0 5px 0;
        background: rgb(0, 0, 0, 0.3);
    }

    .logo {
        grid-area: logo;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-left: 5%;
        font-family: Lobster;
        color: white;
        font-size: 2.4em;
    }

    .navbar {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-right: 5%;
        font-family: Lobster;
        color: rgb(90, 209, 209);
        font-size: 1.4em;
    }

    ul {
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    button {
        background: rgb(83, 165, 165);
        width: 120px;
        height: 40px;
        color: white;
        border-radius: 12px;
        margin: 0;
        padding: 0;
        font-family: Lobster;
        font-size: 1em;
    }

    button:hover {
        color: rgb(150, 226, 154);
        background: white;
    }


    /* Styling the links */
    a:link, a:visited {
    text-decoration: none;
    color: #f1ffff;
    }

    a:hover {
        color: rgb(178, 247, 181);
    }

    a:active {
        text-decoration: none;
        color: rgb(141, 211, 144);
    }

    #content {
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 400px) repeat(2, 800px) 250px;
        grid-template-areas:
        "app app app app at at at at"
        "app app app app at at at at"
        "ft ft ft ft ft ft ft ft"
        "pr pr pr pr pr pr pr pr"
        "tt tt tt tt tt tt tt tt";
        justify-content: center;
        align-content: center;
    }

    #footer {
        grid-area: footer;
        justify-content: center;
        text-align: center;
    }

    #content-about {
        grid-area: at;
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 3.5em;
        font-family: Lobster;
        padding-right: 10px;
    }

    .aboutText {
        width: 600px;
        height: 750px;
        justify-content: center;
        align-items: center;
    }

    #content-app {
        grid-area: app;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .phoneCard {
        width: 675px;
        height: 800px;
        background: url("../images/phone.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    #content-app:hover, button:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 3s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    }

    @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

    #content-features {
        grid-area: ft;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        grid-template-areas:
        "featTitle"
        "featCards";
        justify-content: center;
        align-items: center;
        border-top: solid 50px;
        border-color: rgb(83, 165, 165, 0.3);
    }

    .featTitle {
        grid-area: featTitle;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Lobster;
        font-size: 3em;
    }

    .featCards {
        grid-area: featCards;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        width: 175px;
        height: 250px;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        font-family: Yanone Kaffeesatz;
        font-size: 1.2em;
    }

    .card img {
        width: 175px;
        height: 175px;
    }

    .card p {
        padding-top: 5px;
    }

    #content-pricing {
        grid-area: pr;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        grid-template-areas:
        "priceTitle"
        "priceCards";
        justify-content: center;
        align-items: center;
        border-top: solid 50px;
        border-color: rgb(83, 165, 165, 0.3);
    }

    .priceTitle {
        grid-area: priceTitle;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Lobster;
        font-size: 3em;
    }


    .priceCards {
        grid-area: priceCards;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .pricingCard {
        width: 200px;
        height: 300px;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        font-family: Yanone Kaffeesatz;
        font-size: 1.2em;
    }

    .pricingCard p {
        padding: 5px 0 8px 0;
    }

    #content-testimonials {
        grid-area: tt;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #quoteBox {
        width: 500px;
        height: 300px;
        color: white;
        border-radius: 12px;
        padding: 20px;
    }

    .quote {
        font-size: 1.8em;
        text-align: center;
        font-family: Lobster;
    }

    .source {
        text-align: center;
        font-family: Yanone Kaffeesatz;
        font-size: 1.2em;
    }

}
