/* Styling for the Landing Page on Large Devices*/
.box {
    border: 1px solid lightseagreen;
    /*background: lightsteelblue;*/
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 3000px 50px;
    grid-template-areas:
    "header"
    "content"
    "footer";
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(to bottom right,#e8a87c, #fff);
}

#header {
    grid-area: header;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
    "logo nav";
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    margin: 5px 0 5px 0;
}

.logo {
    grid-area: logo;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 5%;
}

.navbar {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5%;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    background: #d1122b;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 12px;
    margin: 0;
    padding: 0;
}

/* Styling the links */
a:link, a:visited {
text-decoration: none;
color: #f1ffff;
}

a:hover {
    color: rgb(167, 223, 168);
}

a:active {
    text-decoration: none;
}

#content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 500px);
    grid-template-areas:
    "at at at at at at at at"
    "app app app app app app app app"
    "ft ft ft ft ft ft ft ft"
    "reg reg reg reg reg reg reg reg"
    "pr pr pr pr pr pr pr pr"
    "tt tt tt tt tt tt tt tt";
    justify-content: center;
    align-content: center;
}

#footer {
    grid-area: footer;
}

#content-about {
    grid-area: at;
}

#content-app {
    grid-area: app;
}

#content-features {
    grid-area: ft;
}

#content-download {
    grid-area: reg;
}

#content-pricing {
    grid-area: pr;
}

#content-testimonials {
    grid-area: tt;
}
